* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
li {
    font-size:40px;
}
div li {
    color: orange;
}

.block-four_nad_eight {
    text-shadow: 2px 2px 4px blue;
    font-size: 40px;
    font-family: Arial;
    font-family: "Times New Roman", Georgia;
    border: none;  
}
.font-bold {
    font-weight: bold;
}
#identifiactior001 {
    
}
#identifiactior004 {
    font-size: 10px;
    text-shadow: none;
}
p {
    color: green!important;
    display:block!important;
}
p {
    color:orange;
}
.color-blue {
    color:blue;
}
.font-25 {
    font-size:25px;
}
/*
body {
    background: url('../images/3.jpeg');
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: 20% 50%;
}
*/
.block1 {
    background-color: black; 
    padding: 10px;
}
.block1 p {
    padding-left: 45px;
    background: #9E9E9E;
    margin: 45px 25px 15px 25px;
}

.button {
    border: 1px solid #ffffff;
    padding: 5px 20px;
    font-family: arial;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    
    /* расположение кнопки по центру экрана */
    display: block;
    margin: 0 auto;
    max-width: 80px;
    /* конец позиционирования кнопки */
    
}