li {
	font-size: 1.2em;
}
.navbar {
	background-color: #FACDD0;
}
.lorem {
	background-color: #DEDECC;
	margin-bottom: 10px;
	padding: 10px;
}
.lorem1 {
	background-color: #8EFAC2;
	margin-bottom: 10px;
	padding: 10px;
}

